// Mixins Here

// Navy color
.navy() {
    color: #22283B;
 }
 
 // navy background color
 .navy_background() {
    background-color: #22283B;
 }

 // spacing mixin for centering items in flex container
 .center_flex() {
    display: flex;
    justify-content: center;
 }

// button parametric mixin
.btn(@text-color, @font-size) {
    color: @text-color;
    background-color:#22283B;
    border-radius: 10px;
    font-size: @font-size;
    width: 100px;
    height: 40px;
    text-align: center;
    &:hover {
        background-color: white;
        .navy();
    }
    @media(max-width: 500px) {
    width: 100%;
    }
 }
